{% extends 'index.html' %}

<!-- титул  -->
{% block page_title %}
<title> База знаний </title>
{% endblock %}


{% load static %}
{% load pasport %}
{% load crispy_forms_tags %}
<!-- Стили -->
{% block page_styles %}


{% endblock %}

<!-- Слайдер -->
{% block page_slader %}

{% endblock %}

{% block page_contecst %}

<div class="col-12">
        <div class="box">
         <div class="box-header">
            <h4 class="box-title"> <a href="{% url 'bazaznaniy:main'  %}">База знаний</a> </h4>
            <div class="pull-right" >
              <!-- 
            <button type="button" class="btn btn-secondary "  alt="default" data-toggle="modal" data-target="#products"> Добавить документ </button>
           -->
          </div>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table id="example5" class="table table-bordered table-striped" style="width:100%">
                <thead>
                  <tr>
                      <th>№</th>
                      <th> Название  </th>
                      <th> Системы  </th>
                      <th> Описание  </th>
                      <th> Файл </th>
                  </tr>
              </thead>
              <tbody>
                {% for i in bz %}
                
                <tr>
                      <td> {{ forloop.counter }} </td>
                      <td> {{i.title}} </td>
                      <td> {% for u in i.products.all %}  {{ u.title }} {% empty %} -  {% endfor %}  </td>
                      <td> {{i.opisan}}  </td>
                      <td> <a href="{{ MEDIA_URL }}{{ i.filefild }}" download > Скачать </a></td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
         
             
        

<div class="col-lg-6 col-12">
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id ='products' aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <form enctype="multipart/form-data" method="post" class="tab-wizard vertical wizard-circle">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel"> Добавить документ  </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          {% csrf_token %}   
          {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <input type="submit" value="Сохранить" class="btn  btn-primary "> 
        <div class="pull-right">
          <button type="reset" class="btn btn-danger" class="close" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть </button>
        </div>
      </div>
    </form> 
    </div>
  </div>
  </div>
  </div>  


{% endblock %}




{% block page_staticjsandcss %}

<script src="{% static "projects/assets/vendor_components/datatable/datatables.min.js"%}"></script>
<script src="{% static "projects/js/pages/data-table.js"%}"></script>
<script src="{% static "projects/js/pages/project-table.js"%}"></script>
 
 {% endblock %}