<!DOCTYPE html>
{% load static %}
{% load pasport %}
<html>
<head>
    <meta charset="utf-8" />
    <title>
    Отчет по проектам.
    </title>
    <style type="text/css">
        A:link {text-decoration: none; color: #FFFF00; /* Убирает подчеркивание для ссылок */} 
        A:visited { text-decoration: none; color: #FFFF00; /* Цвет ссылки */} 
        A:active { text-decoration: none; color: #FFFF00; }
        A:hover { text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */  color: #FFFF00; /* Цвет ссылки */} 
        table.fed { 
            border-collapse: collapse;
            border-radius:15px;
            box-shadow: 0 0 0 3px #FFFFFF;
            }/* cellspacing="0" cellpadding="4" border="1" */
        td.dom {
            border-collapse: collapse;
            border-radius: 12px;
            box-shadow: 0 0 0 5px #FF00FF;
        }
    
    </style>
</head>
<body bgcolor="#166858" style="color:#FFFFFF; font-family: 'Times New Roman', Times, serif" >
 
    
       

        <a href="{% url 'projects:views' %}"> Все проекты </a>
        <a href="{% url 'projects:ligin' %}"> Войти </a>
        
        <h1 align="center"> ОТЧЕТ ПРОЕКТНОГО ОФИСА  </h1>
        
        <h2 align="center"> {% now "j.m.o" %} г. </h1>
        
        {% for itm in projects %}
        {% if itm.activedog != "Завершен" %}
            {% if itm.otchtetm == 'Д' %}    

        <img src="{% static "projects/lin.png" %}" width="100%" height="25">   
           
        <table width="100%"> 
            <tr>
                <td width="50" align="right"> <img src="{% static "projects/zavod.png" %}" width="80" height="80" ></td>
                <td width="100"> <h1><a href=
                {% if user.username == "stepanova" %}
                    "{% url 'projects:detail_st' pk=itm.id %}" 
                {% else %}
                    "{% url 'projects:detail' pk=itm.id %}" 
                {% endif %}    
                    >{{ itm.title|upper  }}</a> </h1></td>
                <td width="50" align="right" > <img src="{% static "projects/rp.png" %}" width="50" height="50" ></td>
                <td width="100"><h2>{{ itm.rpproecta|upper  }}</h2> </td>
            </tr>
        </table>
                    
                {% for itms in itap|it:itm.id %}
                    {% if itms.projects.title == itm.title %}

                        {% if itms.komentrp %}  
                    <table width="100%" >
                        <tr>
                            <td align="right" width="45%" ><img src="{% static "projects/itap.png" %}" width="40" height="40"> </td><td  align="left"><h1 > {{ itms.title|upper  }} </h1> </td> <td width="10%"> </td>
                        </tr>
                    </table>

                    <table width="100%" >
                        <tr>
                            <td width="16%" align="right" ><img src="{% static "projects/data.png" %}" width="45" height="40"></td>
                            <td width="16%"  > <h1>{{ itms.datastop|date:"d.m.Y" }}</h1></td>
                            <td width="16%" align="right" ><img src="{% static "projects/datar.png" %}" width="50" height="50"></td>
                            <td width="16%"> <h2>{{ itms.oplata|upper }}</h2></td>
                            <td width="16%" align="right" ><img src="{% static "projects/mone.png" %}" width="45" height="45"></td>                     
                            <td width="16%"><h2>{{ itms.act|upper }}</h2> </td>
                        </tr>
                    </table>

                    <table width="100%" >
                        <tr>
                            <td width="10%" valign="top" align="right">
                                <img src="{% static "projects/kom.png" %}" width="70" height="70">
                            </td>
                            <td>
                                {% if itms.act in "Подписан" and  itms.oplata in "Оплачен" %}
                                <p>Завершен и оплачен</p> 
                                {% endif %}
                               {{ itms.komentrp }}
                            </td>
                        </tr>
                        {% if itms.komentstep %}  
                        <tr>
                            <td width="10%" valign="top"  align="right"> 
                                <img src="{% static "projects/kom.png" %}" width="70" height="70">
                            </td>
                            <td class="dom">
                                 <p>Комментарий Ирины Степановой: <br>
                                    <b> {{ itms.komentstep }}</p>        
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    <br>
                        {% endif %}                     
                    {% endif %}
                 {% endfor %}
            {% endif %}
            {% endif %}
        {% endfor %}

                    <img src="{% static "projects/lin.png" %}" width="100%" height="25">  
                    <h1 align="center" style="color:#FFFF00"> ПРОСРОЧЕННАЯ ДЕБИТОРСКАЯ ЗАДОЛЖЕННОСТЬ </h1>
    {% for itm in projects %}
    {% for itms in itap|itapzadolg:itm.id %}
    
            
                <table width="100%" class="fed" >
                <tr >
                    <td width="10%" align="right" ><img src="{% static "projects/zavod.png" %}" width="30" height="30"></td>
                    <td width="15%" align="left"> <h1>{{ itm.title }}</h1></td>
                    <td width="10%" align="right" ><img src="{% static "projects/itap.png" %}" width="30" height="30"></td>
                    <td width="20%" align="left"> <h1>{{ itms.title }}</h1> </td>
                    <td width="10%" align="right" ><img src="{% static "projects/mone.png" %}" width="30" height="30"></td>
                    <td width="20%" align="left"> <h1>{{ itms.zadolkjnost }} Р.</h1> </td>
                </tr>
                <tr >
                        <td> </td>
                        <td align="right" ><img src="{% static "projects/data.png" %}" width="30" height="30"></td>
                        <td width="70%" align="left" colspan="5">     
                                <h1>ОЖИДАЕМЫЙ СРОК ОПЛАТЫ -</h1> 
                        </td>
                        
                        
                </tr>
            </table> <br>
                
                
    {% endfor %}  
    {% endfor %}              


</body>
</html>